<mat-toolbar color="primary" class="toolbar">
  <div class="toolbar__left">
    <mat-icon>store</mat-icon>
    <span class="toolbar__title">My Shop</span>
  </div>

  <nav class="toolbar__nav">
    <a mat-button routerLink="/home-shop" routerLinkActive="active-link">Home</a>
    <a mat-button routerLink="/checkout-shop" routerLinkActive="active-link">
      <mat-icon>shopping_cart</mat-icon>
      Cart ({{ cartCount }})
    </a>
  </nav>
</mat-toolbar>

<main class="main-content">
  <router-outlet />
</main>
